.sun{
  background-color: white;
  width: 140px;
  height: 140px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center
}

button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
    width: 230px;
    height: 230px;
    border-radius: 130px;
}

@keyframes updown1 {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(50px); 
    }
}

@keyframes updown2 {
    0%, 100% {
        transform: translateY(50px);
    }
    50% {
        transform: translateY(0px); 
    }
}


.sky-blue{
    background-image: radial-gradient(circle at top left, #3DBFF2 30%, #0da4df 70%);
    border: none;
    color: #0da4df ;
    transition: color 0.3s ease;
    animation: updown1 2s linear infinite;
}

.sky-blue:hover {
    color: white;
    animation: none;
}

.blue{
    background-image: radial-gradient(circle at top left, #3d64f2 30%, #0d68df 70%);
    width: 230px;
    height: 230px;
    border-radius: 130px;
    border: none;
    color: #0d68df;
    animation: updown2 2s linear infinite;
}

.blue:hover{
    color:white;
    animation: none;
}

.aqua{
    background-image: radial-gradient(circle at top left, #3df2e6 30%, #0ddfae 70%);
    width: 230px;
    height: 230px;
    border-radius: 130px;
    border: none;
    color: #0ddfae;
    animation: updown2 2s linear infinite;
}

.aqua:hover{
    color:white;
    animation: none;
}

.purple{
    background-image: radial-gradient(circle at top left, #6a3df2 30%, #570ddf 70%);
    width: 230px;
    height: 230px;
    border-radius: 130px;
    border: none;
    color: #570ddf;
    animation: updown1 2s linear infinite;
}

.purple:hover{
    color:white;
    animation: none;
}



