.fixed-header {
    background-color: #1771BF;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 200px; /* Increase height to accommodate the new header structure */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left:  20px; /* Adjust padding for better spacing */
    padding-right:20px;
}

.header-type1 {
    background-color: #1771BF;
}

.header-type2 {
    background-color: #0ddfae;
}

.header-type3 {
    background-color: #570ddf;
}

.header-type4 {
    background-color: #0d68df;
}

.header-type5 {
    background-color: #0da4df;
}


.links{
    height: 50px;
    width: 50px;
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}

.a-type1:hover{
    background-color: #165F8C;
    
}

.a-type2:hover{
    background-color: #0bbb92;
}

.a-type3:hover{
    background-color:  #4009a8;
}

.a-type4:hover{
    background-color: #0a51ac;
}

.a-type5:hover{
    background-color: #0b83b2;
}





.introduction{
    font-size: 4em;
    margin-bottom: 5px;
    margin-top: 20px;
}

.link-container{
    display: flex;
    flex-direction: row;
    width: 200px;
}

.link-icon{
    width: 40px;
    height: 40px;
    
   
}